/*--------------
| FONTS
---------------*/
/*@import url(http://fonts.googleapis.com/css?family=Lobster);*/
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,300italic);
/*@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);*/

/*-------------------------------------
| Resets
-------------------------------------*/
/*this star represents the page as a whole for ex if i put * p it would
be for all paragraphs only*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/*-------------------------------------
| root
-------------------------------------*/
body { background-color: #e9f7e8; margin: 0px;
      
       } 

h2 { text-align: center;
     font-family: 'Ubuntu', sans-serif; }	   

h3, h2 {
  color: #2e484c;
  font-family: 'Ubuntu', sans-serif;;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 25px;
}



/*
h3 { font-family: 'Open Sans Condensed', sans-serif;
     font-size: 30px;}*/

/*this is what makes a site fluid*/

.page-wrapper {
	width: 90%;
	/*desktop*/
	max-width: 1200px;
	/*mobile*/
	min-width: 320px;
	background-color: #e9f7e8;
	padding: 25px;
	margin: auto;
	opacity: 0.6;

	font-family: Helvetica, Arial, sans-serif;
	font-family: 'Rokkitt', serif;
}

/*----------
|Links
----------*/

/* unvisited link */
a:link {
   /* color: #80a197;*/
   color: #3a4743;
}

/* visited link */
a:visited {
    color: #3a4743;
}

/* mouse over link */
a:hover {
    /*color: #494e4d;*/
    color: #80a197;
}

/* selected link */
a:active {
    color: #000000;
}


footer { clear: both;
		 padding: 10px;
		 color: #000;
		 background: #134347;
		 text-align: center;}



/*-------------------------------------
| first children
-------------------------------------*/
.intro 		{ }
.supporting { background-color: #f4fbf4; }
.sidebar 	{ background-color: #f4fbf4; }


/*-------------------------------------
| .intro children
-------------------------------------*/
.intro header 		{ background-color: #c0e2bb; padding: 10px;
    				  background-image: url(../img/dotted1.png);
    				  background-repeat: no-repeat;
    				  background-size: 1230px; }
.intro .summary 	{ background-color: #f4fbf4; padding: 10px; }
.intro .preamble 	{ background-color: #b9dfe6; padding: 10px;
	         		  /*background-image: url(../_img/h3-background_4.png);*/
	         		  /*background-size: cover;*/
	         		  /*background-repeat: no-repeat;*/}


/*-------------------------------------
| .supporting children
-------------------------------------*/
.supporting .explanation	{ background-color: #f4fbf4; padding: 10px; }
.supporting .participation 	{ background-color: #b9dfe6; padding: 10px; 
							  /*background-image: url(../_img/h3-background_4.png);*/
							  /*background-size: cover;*/
							  /*background-repeat: no-repeat;*/}
.supporting .benefits 		{ background-color: #f4fbf4; padding: 10px; }
.supporting .requirements 	{ background-color: #b9dfe6; padding: 10px;
							  /*background-image: url(../_img/h3-background_4.png);*/
							  /*background-size: cover;*/
							  /*background-repeat: no-repeat; */}
.supporting footer 			{ background-color: #f4fbf4; padding: 10px;
     						  /*height: 132px; */}


/*-------------------------------------
| .sidebar children
-------------------------------------*/
.sidebar .design-selection	{ background-color: #f4fbf4; padding: 10px; }
.sidebar .design-archives 	{ background-color: #f4fbf4; padding: 10px; }
.sidebar .zen-resources 	{ background-color: #f4fbf4; padding: 10px; 
							  /*height:866px;*/}



/*-------------------------------------
| Resoponsive-Breakpoint 1
-------------------------------------*/
@media screen and (min-width:320px) {

	/*body { background-color: yellow;} */

	/*---------------
	| BG 1
	----------------*/

	body {
		   background-image: url(../img/bg-circles.png);
           background-repeat: no-repeat;
           background-position: top;
	}

	/*---------------
	| Logo Kellum 1
	----------------*/

	h1 {

	background-image: url(..//img/h1-kellum1.png),
	url(..//img/h1-kellumlogo.png);
	background-repeat: no-repeat, no-repeat;
	background-position: bottom, top;
	width: auto;
	height: 152px;
	margin: 25px auto; 
	text-align: center;


	/*font-size: 0px;*/

	/*this line below hides the text*/
/*	kellum (replace text with an image)*/
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;
}


.sidebar .zen-resources { height:366px; }

}








/*---------------------------------------
| Breakpoint 2
----------------------------------------*/

@media screen and (min-width:500px) {

	/*body { background-color: blue;}*/

	/*---------------
	| BG 2
	----------------*/

	body {
		   background-image: url(../img/bg-circles2.png);
           background-repeat: repeat-x ;
           background-position: top center;
           background-size: 436px;

	}

	/*---------------
	| Logo Kellum 2
	----------------*/
	h1 {

	background-image: url(..//img/h1-kellum02.png);
	background-repeat: no-repeat;
	background-position: center;
	/*background-size: 100px auto 100px auto;*/
	/*padding: 100px;*/
	width: auto;
	height: 152px;
	margin: 25px auto; 


	/*font-size: 0px;*/

	/*this line below hides the text*/
/*	kellum (replace text with an image)*/
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;
}

	header {
    height: 250px;
    padding-top: 0;
	
  }

    h1::before {
    display: block;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: 0 0 0 -25px;
    padding: 0 0 35px 0;
  }
  h2::before {
    padding: 0;
  }



.sidebar .zen-resources { height:366px; }





}

/*---------------------------------------
| Breakpoint 3
----------------------------------------*/


@media screen and (min-width:900px) {

	/*body { background-color: red;}*/

	/*---------------
	| BG 3
	----------------*/

	body {
		   background-image: none;
           background-repeat: no-repeat;
           background-position: none;
           background-size: none;

	}

	

	/*---------------
	| Logo Kellum 3
	----------------*/
	h1 {

	background-image: url(..//img/h1-kellum03.png);
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;


	width: auto;
	height: 152px;
	margin: 25px auto; 


	/*font-size: 0px;*/

	/*this line below hides the text*/
/*	kellum (replace text with an image)*/
	text-indent: 150%;
	white-space: nowrap;
	overflow: hidden;
}

footer a::before {
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  overflow: visible;
  font-size: 36px;
  text-indent: 0;

  /* icomoon.io defaults */
  font-family: 'verdemoderna';
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}


.page-wrapper:before {
	content: "";
	display: block;
	width: 709px;
	height: 1812px;
	background-color:#f4fbf4;
	background-image: url(../img/bg-circles.png);
	background-repeat: no-repeat;
    background-position: top right;
    background-size: 400px auto; 

	position: absolute;
	left: -722px;
	top: 0px;
}

.page-wrapper:after {
	content: "";
	display: block;
	width: 709px;
	height: 1812px;
	background-color:#f4fbf4;
	background-image: url(../img/bg-circles.png);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 400px auto;  


	position: absolute;
	right: -722px;
	top: 0px;
}


.sidebar .zen-resources { height:922px; }

	.supporting footer { height:64px; }
	.supporting footer { height:104px;}


/*---------------
| Sidebar Right
----------------*/

	.page-wrapper {
		position: relative;
		padding: 0px; 
	}

	.intro { width: 70%; }
	.supporting { width: 70%; }

	.sidebar {
		width: 30%;

		position: absolute;
		right: 0px; 
		top: 0px; 
	}

/*--------------------------
| Zen Resources and Archives
----------------------------*/
/*comma separated speaking to both anchors*/
.zen-resources a, .design-archives a {
	display: block;

	line-height: 50px;
	background-color: #8bc2b6;

	color: #fff;
	margin-bottom: 5px;

	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	background-image: url(../img/h3-background2.png);

}

/*comma separated speaking to both hover states*/
.zen-resources a:hover, .design-archives a:hover
{ /*background-color: #aeafaf; */
  background-position: left bottom;
  transition: all .5s;}


/*-----------------
| Select a Design
-------------------*/
/*this is the decendant of vs talking to both of them thats why there isnt a comma*/

/*this targets the design-name links*/

.design-selection a.design-name {
	display: block;
	background-color: #9eb07b;

	line-height: 50px;
	color: #fff;
	margin-bottom: 5px;

	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	background-image: url(../img/h3-background1.png);

}

.design-selection a.design-name:hover
{ /*background-color: #000000;*/
  background-position: left bottom;
  transition: all .5s;
  }


}



/*---------------
| One Long Page
----------------*/

/*	.page-wrapper {
		position: relative;
		padding: 0px; 
	}

	.intro { width: 100%; }
	.supporting { width: 100%; }

	.sidebar {
		width: 100%;

		position: inherit;
		right: 0px; 
		top: 0px; 
	}
}

*/


/*------------
| Sidebar Nav
--------------*/

/*how to hide the bullets in lists within the nav section*/

/*this removes the padding*/
nav ul { margin: 0px; padding: 0px;}

/*this line above removes the bullets*/
nav li { list-style-type: none; display: inline;}



/*these two lines do the exact same thing, but within a specific area*/
.zen-resources ul { margin: 0px; padding: 0px;}
.zen-resources li { list-style-type: none; display: inline;}




/*--------------------------
| Zen Resources and Archives
----------------------------*/
/*comma separated speaking to both anchors*/
.zen-resources a, .design-archives a {
	display: block;

	line-height: 50px;
	background-color: #8bc2b6;

	color: #fff;
	margin-bottom: 5px;

	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	/*background-image: url(../img/h3-background2.png);*/

}

/*comma separated speaking to both hover states*/
.zen-resources a:hover, .design-archives a:hover
{ background-color: #aeafaf; 
  /*background-position: left bottom;
  transition: all .5s;*/}


/*-----------------
| Select a Design
-------------------*/
/*this is the decendant of vs talking to both of them thats why there isnt a comma*/

/*this targets the design-name links*/


.design-selection a.design-name {
	display: block;
	background-color: #9eb07b;

	line-height: 50px;
	color: #fff;
	margin-bottom: 5px;

	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	/*background-image: url(../img/h3-background1.png);*/

}

.design-selection a.design-name:hover
{ /*background-color: #000000;*/
  /*background-position: left bottom;
  transition: all .5s;*/
  }

/*this targets the floating "by"*/
.design-selection li {
	display: block;
	color: #8bafa1;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: right;
}


/*this targets the designer-name link*/
.design-selection a.designer-name {
	color: #5b5b5b;
}

/*-----------------
| H3 animated bgs
-------------------*/
/*h3 {
	line-height: 100px;
	font-size: 30px;
	font-family: Helvetica, Arial, sans-serif;
	font-family: 'Lobster', cursive;
*/
	/*if for some reason the image does not show you can use a fallbck*/
	/*background-color: #3339B8;*/
	/*background-image:url(../_img/h3-background_3.jpg);
	color: #fff;
	color: #C8BD41;
	text-align: center;

	background-position: left top;

	might look slow but when you hover like down below V itll get faster.
	transition: all 1s; }*/
/*
h3:hover {
	background-position: left bottom;*/
	/*transition will stay white because sublime doesnt recognize it but it does work.
/*	transition: all .5s;
}*/


.sidebar h3 { font-size: 18px; line-height: 50px; }

/*-----------------------
| Sidebar animated bgs
-------------------------*/

/*.sidebar h3 { font-size: 18px; 
	          line-height: 50px; 
	          font-family:;
	          background: #9eb07b;
	          background-image: url(../_img/h3-background_1.png); }
	          /*opacity: 0.6;  }*/

/*.sidebar h3:hover {
	background-position: left bottom;*/
	/*transition will stay white because sublime doesnt recognize it but it does work.*/
/*	transition: all .5s;
}*/






/*------------------------------------------
| nth-child (targets elements on the page)
-------------------------------------------*/

/*odd or even*/
p:nth-of-type(odd) {
	/*background color: yellow;*/
}

/* nth with multiplier of works like
  (3n+1)
  3 times 0 = 0 plus 1
  3 times 1 is 3 plus one equals 4 so the 4th one will be whatever you specify*/

/*targets patterns*/
.supporting .requirements a:nth-of-type(2n+1) {
	background-color: white;
}

/*targets a specific child*/
.supporting .requirements a:nth-of-type(2) {
	background-color: white;
}

.supporting .requirements a:last-child {
	background-color: white ;
}




.supporting .participation a:nth-of-type(2n+1) {
	background-color: white;
}

.supporting .participation a:nth-of-type(2) {
	background-color: white;
}


.intro .summary a:nth-of-type(2n+1) {
	background-color: #8bc2b6;
}


.intro .summary a:nth-of-type(2) {
	background-color: #8bc2b6;
}


/*------------------------------------------------------------------------------------
| Before & After (helps because the HTML is untouchable) you can add divs, images etc
-------------------------------------------------------------------------------------*/
/*
p:before {
	content: "$";
}

p:after {
	content: " continue reading...."
}*/







/*---------------
| Kellum Technique 
----------------*/

/*replace an image or type with kellum*/







